h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  body{
    display: flex;
    justify-content: space-between;
  }
  
  .dropdowns {
    margin: 10px;
  }

  .checkboxes{
    justify-content: space-evenly;
  }
  
  select, input[type="checkbox"] {
    margin: 5px;
  }

  .lab{
    margin: 10px;
    display: flex;
    padding: 0px;
    width: 28vw;
    justify-content: space-between;
  }

  .lab1{
    margin: 10px;
    display: flex;
    padding: 0px;
    justify-content: space-between;
  }

  .texxt{
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 15vw;
  }

  p{
    font-size: 13px;
  }
  
  .section, .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    height: auto;
    margin: 30px;
    min-height: 70vh;
    width: 45vw;
    font-size: 26px;
  }

  .section2{
    justify-content:start;
  }

  table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
  }

  .data-table-container {
    width: 90%;
    max-height: 400px;
    overflow-y: auto; /* Enable vertical scroll if content exceeds the height */
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    height: auto;
  }

  th {
    background-color: #f2f2f2;
  }

  .tdspec{
    width: auto;
    max-width: 70px;
    text-align: center;
}
.smallerbutton{
    width: auto;
    height: 70%;
    margin: 0;
    padding: 6px 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 20px;
    width: 15vw;
}

input[type=checkbox]{
    width: 20px;
    margin: 2px;
}
