<div class="header">
    <h1>Theater X</h1>
    <nav>
      <div class="navbar-left">
      <a routerLink="/user/plays">Home</a>
      <a *ngIf="isAdmin" routerLink="/admin/actors&directors">Actors & Directors</a>
      <a *ngIf="isAdmin" routerLink="/admin/create-play">Create Play</a>
      <a *ngIf="isAdmin" routerLink="/admin/repertoires">Repertoires</a>
      <a *ngIf="isAdmin" routerLink="/admin/scheduling-play">Scheduling Play</a>
      <a *ngIf="isAdmin" routerLink="/admin/scenes">Scenes</a>
      <a *ngIf="isUser" routerLink="/user/reservation">Reservation</a>
      <a *ngIf="isUser" routerLink="/user/your-reservations">Your Reservations</a>
    </div>
    <div class="navbar-right">
      <a (click)="logOut()" *ngIf="isLoged" routerLink="/about">Logout</a>
      <a *ngIf="!isLoged" routerLink="">Login</a>
      <a *ngIf="!isLoged" routerLink="/register">Register</a>
    </div>
      <!-- Add more links as needed -->
    </nav>
  </div>